spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://postgres:5432/userservice
    username: postgres
    password: postgres
  data:
    redis:
      host: redis
      port: 6379

logging:
  level:
    com.example.userservice: INFO
    org.hibernate.SQL: WARN